---
import Card from 'components/card.astro';
import Tag from 'components/tag.astro';
import { employment_history } from 'data/employment_history';
---

<section>
	<h3>Work history</h3>

	<div class="flex flex-col gap-8">
		{
			employment_history.map(
				({ start, end, title, business, description, tags }) => (
					<Card>
						<small>
							{start} - {end ?? 'Current'}
						</small>
						<hgroup class="mb-4">
							<h4>{title}</h4>
							{!!business && <h5>@ {business}</h5>}
						</hgroup>
						{description.map(text => (
							<p>{text}</p>
						))}
						<div class="flex gap-2 flex-wrap">
							{tags.map(tag => (
								<Tag text={tag} />
							))}
						</div>
					</Card>
				),
			)
		}
	</div>
</section>
