---
import Card from 'components/card.astro';
import Tag from 'components/tag.astro';
import { employment_history } from 'data/employment_history';
---

<section>
	<h2>Work history</h2>

	<div class="flex flex-col gap-12">
		{
			employment_history.map(
				({ start, end, title, business, description, tags }) => (
					<Card>
						<small class="uppercase">
							{start} - {end ?? 'Current'}
						</small>
						<hgroup class="mb-4">
							<h3>{title}</h3>
							{!!business && <p class="text-xl">@ {business}</p>}
						</hgroup>
						{description.map(text => (
							<p>{text}</p>
						))}
						<div class="flex gap-2 flex-wrap pt-2">
							{tags.map(tag => (
								<Tag text={tag} />
							))}
						</div>
					</Card>
				),
			)
		}
	</div>
</section>
